
#d1 {
	
	padding: 80px;
	margin: 5% 0 0 15%;
	background-color: green;
	float: left;
	
}

#d2 {
	
	padding: 80px;
	margin: 5% 0 0 0;
	background-color: blue;
	float: left;
	
}

#d3 {
	
	padding: 80px;
	margin: 0 15% 0 15%;
	background-color: brown;
	clear: left;
	
}

#d4 {
	
	padding: 80px;
	margin: 0 15% 0 0;
	background-color: gold;
	float: right;
	
}

#d5 {
	
	padding: 80px;
	margin: 0px;
	background-color: grey;
	float: right;
}


