
#d1 {
	
	padding: 20px;
	margin: 100px;
	background-color: green;
	
}

#d2 {
	
	padding: 20px;
	margin: 10px;
	background-color: blue;
	position: relative;
	left: 60px;
	
}

#d3 {
	
	padding: 20px;
	margin: 10px;
	background-color: orange;
	position: relative;
	right: 140px;
	
}
