
* {
	
	margin: 0;
	padding: 0;
	
}

div {
	
	float: left;
	background-color: orange;
	position: sticky;
	padding: 2%;
	margin: 0 2%;
	border-radius: 10%;
	top: 0;
	
}

li {
	
	list-style-type: none;
	
}

#p1 {
	
	margin: 1%;
	padding: 2%;
	
}

footer {
	
	background-color: black;
	padding: 0 0 1% 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	
}

footer p {
	
	color: white;
	text-align: center;
	
}
